# Projeto 1 Ciência dos Dados

Neste projeto o IDH, a Produção de Energia e a Quantidade de Água Renovável

# Import de Dados

In [7]:
import pandas as pd

idh = pd.read_excel('hdi_human_development_index.xlsx')
elec = pd.read_excel('electricity_generation_total.xlsx')
water = pd.read_excel('renewable_water_cu_meters_per_person.xlsx')

# Coletando apenas os dados de 2007

In [8]:
idh_2007 = idh.loc[:, ['Países', 2007]]
idh_idx = idh_2007.set_index('Países')

elec_2007 = elec.loc[:, ['Países', 2007]]
elec_idx = elec_2007.set_index('Países')

water_2007 = water.loc[:, ['Países', 2007]]
water_idx = water_2007.set_index('Países')

water_idx.head()

                2007
Países
Afghanistan   2520.0
Albania      10000.0
Algeria        341.0
Andorra       3720.0
Angola        7740.0

# União dos Dados

In [15]:
fin = idh_idx.join(water_idx, how='inner', lsuffix=' IDH', rsuffix=' Água Renovável em m³')
fin['2007 Produção de Energia'] = elec_idx[2007]
final = fin.dropna()
final.head(20)

                2007 IDH  2007 Água Renovável em m³  2007 Produção de Energia
Países
Algeria            0.697                      341.0              3.730000e+10
Argentina          0.792                    21900.0              1.150000e+11
Australia          0.921                    23500.0              2.430000e+11
Austria            0.864                     9360.0              6.490000e+10
Azerbaijan         0.719                     3960.0              2.180000e+10
Bangladesh         0.520                     8370.0              3.100000e+10
Belarus            0.755                     6060.0              3.180000e+10
Belgium            0.874                     1710.0              8.880000e+10
Brazil             0.704                    44900.0              4.450000e+11
Bulgaria           0.761                     2810.0              4.330000e+10
Canada             0.897                    88000.0              6.260000e+11
Chile              0.804                    56100.0              6.010000e+10
China              0.672                     2100.0              3.280000e+12
Colombia           0.683                    53200.0              6.110000e+10
Czech Republic     0.856                     1270.0              8.800000e+10
Denmark            0.906                     1100.0              3.930000e+10
Ecuador            0.698                    31100.0              1.730000e+10
Egypt              0.651                      751.0              1.190000e+11
Finland            0.876                    20800.0              8.120000e+10
France             0.877                     3400.0              5.700000e+11

Giovanni Cardoso Pertence dos Santos